doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Threshold graph
    body
        div Partition
            form(action="/partition", method="post")
                input(name="partition", title="Partition", type="text")
                input(type="submit" value="Посчитать")

        div Statistics (graph size, seed, iterations)
            form(action="/statistics", method="post")
                input(name="size", title="Graph size", type="text")
                input(name="seed", title="Random seed", type="text")
                input(name="iterations", title="Iterations", type="text")
                input(type="submit" value="Посчитать")