doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Threshold graph
    body
        form(action="/calculate", method="post")
            //input(name="test" value="qwe")
            input(name="partition", title="Partition", type="text")
            input(type="submit" value="Посчитать")
