doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Computation result
    body
        - var strings = result.split("\n")
        - for (var i in strings)
            div= strings[i]

        a(href='/') Назад
